.header {
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 20px;
}

.subheader {
  padding: 30px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subsubheader {
  width:50%;
  padding: 30px;
  text-align: center;
  background: white;
  color: black;
  font-size: 20px;
  font-family: Andale Mono,AndaleMono,monospace; 
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blockbutton {
  width:50%;
  padding: 30px;
  text-align: center;
  background: white;
  color: white;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


.newnav {
  padding: 30px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-family: 'Carter One';
}
.container {
  margin-top: 50px;
  text-align: center;
}

  img{
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .gallery-container {
    padding: .9375rem 0;
  }
  .gallery-container h1 {
    margin: 2rem 0;
    padding: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: lighter;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  
